@page "/overview"
@using MES.Common

@inject HttpClient Http

<PageTitle>PartOverview</PageTitle>

<h1>Part Overview</h1>


@if (parts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Last Station</th>
                <th>Status</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in parts)
            {
                <tr>
                    <td>@part.SerialNumber</td>
                    <td>@part.LastStationComplete</td>
                    <td>@part.Status</td>
                    <td>@part.Timestamp.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PartData[]? parts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            parts = await Http.GetFromJsonAsync<PartData[]>("https://localhost:7195/api/PartData");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching part data: {ex.Message}");
        }
    }

}
